:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(---primary color black);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.html{
  /* 1rem = 10px */
  font-size: 62.5%;
}
/* header */
.header{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  /* gap: 2rem; */
  background-color: 	#a6a6a6;
  padding: 0 2rem;
  /* width: 100%; */
}
.header-title{
  text-transform: capitalize;
  color:var(---primary);
  text-align: center;
}
.header-nav-link{
  list-style: none;
  display: flex;
  gap: 4rem;
}
.header-navigation-link{
  text-decoration: none;
  text-transform: capitalize;
  color:var(---primary)
}

/* media query */
@media screen and (max-width:55.5em){
  .header{
    flex-direction: column;
  }

}
@media screen and (max-width:28em){
  .header-nav-link{
    gap: 2rem;
  }
  
}
.hero-section{
  background-image:linear-gradient(to left,rgba(0 ,0, 0, 0.8),rgba(0,0,0,0.2)),url(./assets/download.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100vw;
  position: relative;
  
}
.hero-textbox{
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  width:30vw ;
  height:40vh ;
  position: absolute;
  bottom: 2px;
  right: 0;
  gap: 2rem;
}

.hero-maintitle{
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size:1.5rem;
  
}
.hero-paragraph{
  text-align: center;
  color: white;
}
.contants-link{
  display: inline-block;
  background-color: #E34A27;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 10px;
}
@media screen and (max-width: 38em) {
  .hero-textbox{
    position: normal;
    width: fit-content;
    height: fit-content;
  }
  .hero-maintitle{
    font-size: 1.5rem;
  }
  .hero-paragraph{
    font-size: 1rem;
  }
}


